.complete {
    .todo-item-text {
        opacity: 0.5;
        text-decoration: line-through;
    }
}

.todo-item-text {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.btn-delete {
    &:hover {
        text-decoration: none;
    }
}

.todo-item {
    padding: 0 0.5rem;

    &:focus {
        background: orange;
    }
}

.tooltip {
    &-inner {
        max-width: 600px;
        min-width: 300px;
    }
}
