@import "~bootstrap/dist/css/bootstrap.min.css";

.app {
  font-family: 'Lato', sans-serif;
  padding: 2rem 0;
}

.align-vertical {
  align-self: center;
  display: flex;
}

.visible {
  visibility: visible;
}

.cursor-pointer {
  cursor: pointer;
}

.no-select {
    user-select: none;
}

@media (max-width: 575px) {
  .w-xs-100 {
    width: 100%;
  }
}
